/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/* BODY */
body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
background: #ffffff;
color: #202124;
}

/* CONTAINER */
.container {
max-width: 750px;
margin: 40px auto;
padding: 0 20px;
}

/* HEADER */
header {
margin-bottom: 30px;
}

header h1 {
font-size: 32px;
font-weight: 600;
}

.role {
color: #5f6368;
margin: 5px 0;
}

.info {
color: #5f6368;
font-size: 14px;
}

/* LINKS */
.links {
margin-top: 10px;
}

.links a {
margin-right: 15px;
font-size: 18px;
color: #5f6368;
transition: 0.2s;
}

.links a:hover {
color: #1a73e8; /* Google blue */
}

/* SECTIONS */
section {
margin-bottom: 30px;
}

h2 {
font-size: 18px;
margin-bottom: 10px;
border-bottom: 1px solid #e0e0e0;
padding-bottom: 5px;
}

/* TEXT */
p {
margin: 5px 0;
font-size: 14px;
}

/* PROJECTS */
.project {
margin-bottom: 10px;
}

.project h3 {
font-size: 15px;
font-weight: 500;
}

/* FOOTER */
footer {
text-align: center;
font-size: 13px;
color: #9aa0a6;
margin-top: 40px;
}
